*{
    margin:0;
}
body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
.menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 20px;
    margin-bottom: 20px;
}
.capa{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
}
.menuOpcoes{
    border-bottom: 1px white solid;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 100%;
}
.lancamentos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 100%);
    padding-bottom: 4%;
    text-align: center;
}
.imglancamento{
    width: 60%;
}
.data{
    color:grey
}
.news {
    width: 100%;
    display: grid; 
  grid-template-columns: repeat(2, 1fr); 
    background-color: #202020;
    padding: 10px;
    margin-bottom: 20px;
}

.titulonews {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.noticiaimg {
    padding: 10px;
    width: 80%;
}

.textonoticia {
    padding-top: 4%;
    text-align: left;
}
.rodape{
    padding: 20px;
    font-weight: bold;
    background-color: #202020;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}